#text1 {text-align: center;
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        color: red;
        }

#content {width: 300px;
          height: 200px;
          background-color: whitesmoke;
          border: 2px,black;
          border-radius: 15%;
          display: grid;
          margin: auto;
          text-align: center;
         box-shadow: 5px 5px 15px rgba(0,0,0,0.3); 
         padding: 20px;  

}

body{background-color: aquamarine;}
#div1{margin: 5px;
    display: grid;
}
#img{margin: auto;
    background-color: whitesmoke;}

